<nav
  style="background-color: #c7e9b0"
  class="navbar navbar-expand-lg navbar-light py-4 px-4"
>
  <div class="d-flex justify-content-between w-100">
    <div style="color: black">
      <i class="fas fa-align-left fs-4 me-3" id="menu-toggle"></i>
    </div>
    <div class="dropstart" style="margin-right: 10px;">
      <a
        class="dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <svg
          height="25px" width="25px
         xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
          <!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
          <path
            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z"
          />
        </svg>
      </a>

      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" href="/tenant_profile">Profile</a></li>
        <li><a class="dropdown-item bg-danger" href="/tenants_account/logout">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
