<nav class="navbar navbar-expand-lg navbar-light py-4 px-4 bg-main">
  <div class="d-flex align-items-center" style="color: black; width: 100%">
    <i class="fas fa-align-left fs-4 me-3" id="menu-toggle"></i>
    <div
      class="d-flex container-fluid"
      style="width: 100%; justify-content: space-between"
    >
      <div class="d-flex">
        <div>
          <span style="font-size: 20px">&#128075;</span>
        </div>
        <div style="margin-left: 5px" class="pt-2">
          <p>
            Welcome
            <span class="fst-italic fw-bold"> <%= user.full_name %> </span>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
