<nav
  style="background-color: #c7e9b0"
  class="navbar navbar-expand-lg navbar-light py-4 px-4"
>
  <div class="d-flex justify-content-between w-100">
    <div style="color: black">
      <i class="fas fa-align-left fs-4 me-3" id="menu-toggle"></i>
    </div>
    <div style="margin-right: 1.5rem">
      <img
        width="40px"
        height="40px"
        style="border-radius: 20px; cursor: pointer"
        src="/images/user.jpg"
        alt="User icon"
        onclick="myFunction()"
      />
    </div>
  </div>
</nav>
