<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyQuota</title>
    <style>

      .container{ background-color: #DCF2F1; border-radius: 8px; padding: 1rem
      3rem; width: 80%; margin: 0 auto; } h4{ text-align: center; color:
      #0F1035; padding: 0.5rem; } a{ text-decoration: none; color: steelblue; }
      .link{ text-align: center; }

    </style>
  </head>
  <body>
    <div class="container">
      <h4>Hey there, {{name}}! &#128522; </h4>
      <p>We've received a request to reset your password. Simply click the link
        below to set up a new one:</p>
      <div class="link">
        <a href="{{resetUrl}}" clicktracking="off">{{resetUrl}}</a>
      </div>
      <p>Please note that this link will expire in 15 minutes for security
        reasons.</p>
      <p>If you didn't request this change, please ignore this email.</p>
      <p>Best regards</p>
      <p>EnergyQuota team</p>
    </div>
  </body>
</html>