<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnergyQuota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
    body{
        background-color: #f8f9fa;
      }
    .tenant-link{
      display: flex;
      justify-content: right;
    }
    </style>
</head>
<body>
    <div class="container mt-3">
        <div class="row justify-content-center mt-2">
            <div class="col-lg-4">
                <div class="text-center mb-2 rounded" style="background-color: #008894; color: white; padding: 10px;">
                    <h3>EnergyQuota</h3>
                    <h4>House Owner login</h4>
                </div>
                <form action="/users/login" method="post">
                    <% if(message[0]){ %>
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                             <%= message %>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% } %>
                
                    <div class="mb-3">
                        <label for="phone_number" class="form-label">Phone number</label>
                        <input type="number" name="phone_number" class="form-control" id="phone_number" placeholder="Enter your phone_number" required>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter your password" required>
                      </div>
                      <button class="btn btn-success" type="submit">Login</button>
                </form>
                <a href="/users/register" style="text-decoration: none; color: steelblue;">Don't have an account.Register here!</a>
                <div class="tenant-link">
                  <a href="/tenant/login" style="text-decoration: none; color: steelblue;">Tenant.Login here</a>
                </div>
            </div>  
        </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
</body>
</html>