<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyQuota</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/admin.css" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <%- include("partials/sidebar_owner") %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <%- include("partials/header_owner") %>
        <!-- page contents -->
        <div class="container">
          <nav
            style="--bs-breadcrumb-divider: '>'"
            class="pt-3"
            aria-label="breadcrumb"
          >
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/tenants">Tenants</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                add tenant
              </li>
            </ol>
          </nav>
          <h4 class="text-center p-2">Tenant registration</h4>
          <div class="row d-flex justify-content-center p-3">
            <div class="col-lg-6 col-md-8 col-sm-10">
              <form action="" method="post">
                <% if(message[0]){ %>
                <div
                  class="alert alert-success alert-dismissible fade show"
                  role="alert"
                >
                  <%= message %>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="alert"
                    aria-label="Close"
                  ></button>
                </div>
                <% } %>
                <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input
                    type="text"
                    name="name"
                    id="name"
                    class="form-control"
                    placeholder="Tenant full name"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input
                    type="email"
                    name="email"
                    id="email"
                    class="form-control"
                    placeholder="Tenant email"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="phone_number" class="form-label"
                    >Phone number</label
                  >
                  <input
                    type="text"
                    name="phone_number"
                    id="phone_number"
                    placeholder="Tenant phone number"
                    class="form-control"
                    required
                  />
                </div>
                <div class="mb-3">
                  <label for="house_number" class="form-label"
                    >House number</label
                  >
                  <input
                    type="text"
                    name="house_number"
                    id="house_number"
                    placeholder="Tenant house number"
                    class="form-control"
                    required
                  />
                </div>
                <button class="btn btn-success" type="submit">
                  Register Tenant
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
