<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>EnergyQuota</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/custom_grid.css" />
  </head>
  <body>
    <div class="d-flex" id="wrapper">
      <%- include("partials/sidebar_tenant") %>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <%- include("partials/header_tenant") %>
        <!-- page contents -->
        <div>
          <div class="text-center p-2">
            <h4>Buy Units</h4>
          </div>
          <hr
          style="
            border: none;
            background-color: black;
            width: 95%;
            margin: 1rem auto;
            height: 4px;
          "
          />

          <div>
            <h5 class="p-2 text-center">Quick Selections</h5>
            <div class="container-div">
              <div class="grid-container-3 text-center">
                <p><span style="font-size: 4rem;"> 10 </span>kwh</p>
                <button class="btn btn-success btn-lg">Buy</button>
              </div>
              <div class="grid-container-3 text-center">
                <p><span style="font-size: 4rem;"> 15 </span>kwh</p>
                <button class="btn btn-success btn-lg">Buy</button>
              </div>
              <div class="grid-container-3 text-center">
                <p><span style="font-size: 4rem;"> 20 </span>kwh</p>
                <button class="btn btn-success btn-lg">Buy</button>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mt-4">
            <div class="col-lg-6">
              <form action="" method="post">
                <div class="mb-3">
                  <label for="units" class="form-label">Units</label>
                  <input type="text" class="form-control" name="units" id="units" placeholder="Amount of units">
                </div>
                <button type="submit" class="btn btn-success btn-lg">Buy</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
    <script src="/js/index.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
