<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EnergyQuota</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
    body{
        background-color: #f8f9fa;
      }
    
    .owner-link{
      text-decoration: none;
      color: steelblue;
    }
    .owner-link-div{
      display: flex;
      justify-content: right;
    }
    .btn-login {
        background-color: #113946;
        color: white;
        padding: 10px;
        width: 90px;
    }

    .btn-login:hover{
        background-color: white;
        color: #113946;
        border: 2px solid #113946;
    }
    </style>
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center mt-2">
            <div class="col-lg-6 rounded p-3" style="background-color: white; box-shadow: 0 4px 4px 0 rgba(0,0,0,0.1);">
                <div class="text-center mb-2 rounded" style="background-color: #c7e9b0; color: #113946; padding: 10px;">
                    <h3>EnergyQuota</h3>
                    <h4>Tenant login</h4>
                </div>
                <form action="/tenants_account/login" method="post">
                    <% if(message[0]){ %>
                        <div class="alert alert-info alert-dismissible fade show" role="alert">
                             <%= message %>
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                      <% } %>
                
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" name="email" class="form-control" id="email" placeholder="Enter your email" title="please enter your phone number" required>
                      </div>
                      <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div style="border: 1px solid rgb(173, 172, 172);" class="d-flex rounded justify-content-center align-items-center">
                          <input style="border: none;" type="password" name="password" class="form-control" id="password" placeholder="Enter your password" title="please enter your password" required>
                          <img id="eye-icon" style="width: 30px; cursor: pointer; padding: 5px;" src="/images/eye-close.png" alt="Eye icon">
                        </div>
                      </div>
                      <button class="btn btn-login" type="submit">Login</button>
                </form>
                <div class="owner-link-div">
                  <a href="/owners/login" class="owner-link">House Owner.Login here.</a>
                </div>
            </div>  
        </div>
        </div>
    </div>
    <script>
      var eyeIcon = document.getElementById("eye-icon");
      var passwordInput = document.getElementById("password");

      eyeIcon.onclick = function() {
        if(passwordInput.type === "password") {
          passwordInput.type = "text";
          eyeIcon.src = "/images/eye-open.png"
        }else{
          passwordInput.type = "password"
          eyeIcon.src = "/images/eye-close.png"
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>  
</body>
</html>