.input-box {
  border: 1px solid gray;
}

#toggle-btn {
  cursor: pointer;
  padding: 3px;
  width: 30px;
}
#toggle-btn-old {
  cursor: pointer;
  padding: 3px;
  width: 30px;
}

#toggle-btn-confirm {
  cursor: pointer;
  padding: 3px;
  width: 30px;
}
